<html>
  <head>
    <meta charset="utf-8">
    <title>WebEncryption</title>
  </head>
  <body>
    <form class="form-inline" method="POST" action="{{ url_for('get') }}">
      <div class="form-group">
            <span class="input-group-addon">Input format</span>
              <select name="input_format" class="selectpicker form-control">
                {% for input_format in input_formats %}
                <option value="{{ input_format }}" {% if _input_format == input_format %} selected {% endif %}>{{ input_format }}</option>
                {% endfor %}  
              </select>
              <br>
              <span class="input-group-addon">Output format</span>
              <select name="output_format" class="selectpicker form-control">
                {% for output_format in output_formats %}
                <option value="{{ output_format }}" {% if _output_format == output_format %} selected {% endif %}>{{ output_format }}</option>
                {% endfor %}
              </select>
              <br>
              {% if _input_format != None %}
              <button type="submit">Change format</button>
              {% endif %}
              <br>
                <select name="cipher" class="selectpicker form-control">
                  {% for cipher in ciphers %}
                  <option value="{{ cipher }}" {% if _cipher == cipher %} selected {% endif %}>{{ cipher }}</option>
                  {% endfor %}
                </select>
                <select name="mode" class="selectpicker form-control">
                  {% for mode in modes %}
                  <option value="{{ mode }}" {% if _mode == mode %} selected {% endif %}>{{ mode }}</option>
                  {% endfor %}
                </select>
        <form enctype="multipart/form-data">
          {% if _input_format != None and _mode != 'hack' %}
          <p><strong>Ключ</strong></p>
          <p><input name='key' maxlength="25" size="40" value={{_key}}></p>
          {% endif %}
          {% if _input_format == 'text' %}
          <p><strong>Input text</strong></p>
          <p><textarea rows="10" cols="45" name="input_text">{% if input_text %}{{input_text}}{% endif %}</textarea></p>
          {% elif _input_format == 'file' %}
          <form></form>
          <form action="/upload_file" method=post enctype="multipart/form-data">
            <p><input type='file' name='file'>
              <input type=submit value=Upload>
          </form>
          {% endif %}
          {% if _output_format == 'text' %}
          <p><strong>Output text</strong></p>
          <p><textarea rows="10" cols="45" name="text">{% if output_text != None %}{{output_text}}{% endif %}</textarea></p>
          {% elif _output_format == 'file' %}
          <form></form>
          <form action="/output_file" method=post enctype="multipart/form-data">
            <input type=submit value="Get output file">
          </form>
          {% endif %}
        </form>
        {% if _input_format == None %}
        <button type="submit">Continue</button>
        {% else %}
        <button type="submit">{{ _mode }}</button>
        {% endif %}
      </div>
    </form>
  </body>
</html>
